<div class="p-5">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Reservierungen</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a class="btn btn-link" (click)="onToggleExpandedSearch()">Erweiterte Suche</a>
            <div class="input-group">
                <input id="searchField" type="text" class="form-control" placeholder="Suche" aria-label="Search"
                    [formControl]="searchTerm">
            </div>
            <button (click)="onCreateReservation()" id="createReservationBtn" class="ml-2 btn btn-sm btn-primary">
                Neue Reservierung
            </button>
        </div>
    </div>
    <div *ngIf="expandedSearch" class="ml-3">
        <div class="form-group row">
            <span class="text-secondary">
                Filtern nach Reservierungen, deren Anreise und Abreisezeiten zwischen Anfangsdatum und Enddatum liegen
            </span>
        </div>
        <div class="form-group row">
            <div class="form-check my-2">
                <input [formControl]="dateBeginEnabled" class="form-check-input" type="checkbox"
                    (change)="onDateFilterChanged()">
            </div>
            <label for="example-date-input" class="col-2 col-form-label">Anfangsdatum</label>
            <div class="col-3">
                <input [formControl]="dateFilterBegin" [class.is-invalid]="dateSearchInvalid" class="form-control" type="date"
                    (change)="onDateFilterChanged()">
            </div>
        </div>
        <div class="form-group row">
            <div class="form-check my-2">
                <input [formControl]="dateEndEnabled" class="form-check-input" type="checkbox"
                    (change)="onDateFilterChanged()">
            </div>
            <label for="example-date-input" class="col-2 col-form-label">Enddatum</label>
            <div class="col-3">
                <input [formControl]="dateFilterEnd" [class.is-invalid]="dateSearchInvalid" class="form-control" type="date" (change)="onDateFilterChanged()">
                <div *ngIf="dateSearchInvalid" class="invalid-feedback">
                    Das Anfangsdatum vor dem oder am Enddatum liegen.
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="(uiState$ | async) === UI_STATE.ERROR_BAD_SERVER" class="alert alert-danger" role="alert">
        Ein Fehler ist aufgetreten ! Daten vom Server konnten nicht geladen werden. <a (click)="onRetry()"
            class="alert-link">Erneut versuchen</a>
    </div>
    <div *ngIf="(uiState$ | async) === UI_STATE.DELETION_ERROR" class="alert alert-danger" role="alert">
        Ein Fehler ist aufgetreten ! Die Reservierung konnte nicht gelöscht werden.
    </div>
    <div *ngIf="(uiState$ | async) === UI_STATE.DELETION_SUCCESS" class="alert alert-success" role="alert">
        Reservierung wurde erfolgreich gelöscht.
    </div>
    <div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col" sortable="customer" (sort)="onSort($event)">Kunde</th>
                    <th scope="col" sortable="address" (sort)="onSort($event)">Adresse</th>
                    <th scope="col" sortable="rooms" (sort)="onSort($event)">Zimmer</th>
                    <th scope="col" sortable="arrival_date" (sort)="onSort($event)">Anreise</th>
                    <th scope="col" sortable="departure_date" (sort)="onSort($event)">Abreise</th>
                    <th scope="col" sortable="num_stays_days" (sort)="onSort($event)">Dauer</th>
                    <th scope="col" sortable="price" (sort)="onSort($event)">Preis</th>
                    <th scope="col" sortable="discount" (sort)="onSort($event)">Rabatt</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservation of reservations">
                    <td>
                        <ngb-highlight [result]="reservation?.customer" [term]="searchTerm.value"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="reservation | address" [term]="searchTerm.value"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="reservation.rooms | roomReservation" [term]="searchTerm.value">
                        </ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="reservation.arrival_date | date:'shortDate'" [term]="searchTerm.value">
                        </ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="reservation.departure_date | date:'shortDate'"
                            [term]="searchTerm.value"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="reservation.num_stays_days | stayDuration" [term]="searchTerm.value">
                        </ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="reservation.price | currency" [term]="searchTerm.value">
                        </ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="reservation.discount | discount" [term]="searchTerm.value">
                        </ngb-highlight>
                    </td>
                    <td>
                        <div class="d-flex flex-row-reverse bg-transparent justify">
                            <button class="btn btn-sm ml-2 btn-danger"
                                (click)="onDeleteReservation(reservation)">Löschen</button>
                            <button class="btn btn-sm ml-2 btn-outline-dark"
                                (click)="onEditReservation(reservation)">Bearbeiten</button>
                            <button class="btn btn-sm ml-2 btn-outline-dark"
                                (click)="onCreateInvoice(reservation)">Rechnung</button>
                                
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="mt-5" *ngIf="(uiState$ | async) !== UI_STATE.LOADING && (reservations?.length) === 0"
            class="d-flex justify-content-center">
            <h4>Keine Daten verfügbar</h4>
        </div>
        <div class="mt-5" *ngIf="(uiState$ | async) === UI_STATE.LOADING" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div>
        </div>