:root {
    --basecolor1: wheat;
    --basecolor2: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.2em;
    background-color: lightgray;
}

.navbar {
    display: inline-block;
    width: 100%;
    align-items: center;
    min-height: 3em;
}

.menu {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    justify-content: center;
}

.menu a, .submenu a {
    display: inline-block;
}

.submenu {
    padding-top: 0em;
    top: 2em;
    justify-content: center;
}

.submenu a {
    margin-left: 1em;
    margin-right: 1em;
}

.content {
    display: inline-block;
    width: 100%;
    margin-top: 5em;
    padding-top: 2em;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.menubtn {
    background-color: #efefef;
    width: 13em;
    height: 5em;
    //border-color: black;
    //border-radius: 0.2em;
    margin-left: 1em;
    margin-right: 1em;
    border-color: #efefef;
    text-align: center;
    font-size: 0.8em;
}

.logoutbtn {
    width: 8em;
    position: absolute;
    right: 0;
}

.menuicon {
    width: 2em;
}

