<!-- Header -->
<app-header></app-header>

<!-- Navbar -->
<nav class="navbar navbar-expand navbar-light menu">
  <div *ngIf="isLoggedIn" class="navbar-nav menu">
    <!--Menu-Placeholder-->
    <button class="btn btn-light menubtn" routerLink="/billing" (click)="onBilling()">
      <fa-icon class="menuicon" [icon]="faCreditCard" size="3x"></fa-icon>
      <p>Rechnungsverwaltung
    </button>
    <button class="btn btn-light menubtn" routerLink="/reservation" (click)="onReservation()">
      <fa-icon class="menuicon" [icon]="faBed" size="3x"></fa-icon>
      <p>Reservierungsverwaltung
    </button>
    <button class="btn btn-light menubtn" routerLink="/rooms" (click)="onRooms()">
      <fa-icon class="menuicon" [icon]="faRoom" size="3x"></fa-icon>
      <p>Zimmerverwaltung
    </button>
    <button class="btn btn-light menubtn logoutbtn" (click)="onLogout()">
      <fa-icon class="menuicon" [icon]="faUser" size="2x"></fa-icon>
      <p>Abmelden
    </button>
  </div>
  <div *ngIf="!isLoggedIn" class="navbar-nav menu">
    <button class="btn btn-light menubtn logoutbtn" routerLink="/login">
      <fa-icon class="menuicon" [icon]="faUser" size="2x"></fa-icon>
      <p>Anmelden
    </button>
  </div>
  <div *ngIf="isLoggedIn && isReservationActive" class="navbar-nav submenu">
    <!--Reservation Sumbenu--> <a routerLink="/reservation">Übersicht</a> | <a routerLink="/reservation/create">Reservierung anlegen</a>
  </div>
  <div *ngIf="isLoggedIn && isBillingActive" class="navbar-nav submenu">
      <!--Billing Submenu<a routerLink="/billing">Übersicht</a>--> 
    </div>
  <div *ngIf="isLoggedIn && isRoomsActive" class="navbar-nav submenu">
      <!--Rooms Submenu--> <a routerLink="/rooms">Übersicht</a> | <a routerLink="/rooms/create">Zimmer anlegen</a> | <a routerLink="/rooms/stats">Auslastung</a> 
    </div>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>
