.banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3em;
    display: flex;
    align-items: center;
    background-color: maroon;
    font-weight: 600;
    font-size: 2em;
    color: goldenrod;
}

.logo {
    display: block;
    padding-left: 3%;
    padding-right: 3%;
    max-height: 100%;
    min-width: 3em;
}

.h1 {
    font-family: Arial, Helvetica, sans-serif;
}