.alt-grid [class*="col-"] {padding-left:0;padding-right:0}
.alt-grid .row {margin-left:0;margin-right:0;margin-top: 5px;}
.alt-grid .container {width:100%;max-width:none;padding:0;}

.h3-top-margin {margin-top: 25px;}

input.ng-invalid.ng-touched { border: 1px solid red; }
input.ng-invalid.ng-dirty { border: 1px solid red; }
.spinner-border {background-color: #0069d9; margin-left: 15px;}

.alert-danger.small {font-size: 65%;margin-bottom: 0px;padding-bottom: 0.0px;padding-top: 0px;padding-right: 0px;padding-left: 0px;}
.btn.btn-secondary.dropdown-toggle.w-100 {font-size: 80%;}