<div class="p-5">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1>Reservierung </h1>
        <div *ngIf="isLoggedIn" class="btn-toolbar mb-2 mb-md-0">
            <!-- Go Back to Reservation Overview as Logged in Mitarbeiter -->
            <button (click)="onReservationOverview()" id="reservationOverviewBtn" class="ml-2 btn btn-primary">
                Reservierungsübersicht
            </button>
        </div>
    </div>

    <form [formGroup]="reservationForm">
        <div *ngIf="(uiState$ | async) === UI_STATE.ERROR_BAD_SERVER" class="alert alert-danger" role="alert">
            Ein Fehler ist aufgetreten ! Daten vom Server konnten nicht geladen werden. <a (click)="onValidate()" class="alert-link">Erneut versuchen</a>
        </div>
        <div *ngIf="(uiState$ | async) === UI_STATE.RESERVATION_NOT_VALID" class="alert alert-danger" role="alert">
            Reservierung mit den angegebenen Daten nicht möglich!
        </div>
        <div *ngIf="(uiState$ | async) === UI_STATE.RESERVATION_VALID" class="alert alert-success" role="alert">
            Reservierung mit den angegebenen Daten möglich!
        </div>

        <div class="alt-grid">
            <h3 class="h3-top-margin">Zimmerauswahl</h3>
            <div class="container">
                <div class="row align-items-start">
                    <div class="col-md">
                        <div class="container h-100">
                            <div class="row">
                                <div class="col align-self-center text-center">
                                    Anreise
                                </div>
                                <div class="col text-center">
                                    <input formControlName='arrivalDate' type="date" class="form-control form-control-user" id="arrivalDate"
                                    aria-describedby="dateHelp">
                                    <div *ngIf="arrivalDate.invalid">
                                        <div class="alert alert-danger small" *ngIf="arrivalDate.errors.required" >
                                            Bitte wählen Sie einen Anreise-Tag aus.
                                        </div>
                                        <div class="alert alert-danger small" *ngIf="arrivalDate.errors.minDate">
                                            Bitte wählen Sie für den Anreise-Tag frühestens morgen aus. 
                                            <span *ngIf="!isLoggedIn">
                                                Wenn Sie für heute noch reservieren möchten, kontaktieren Sie uns bitte per Telefon oder E-Mail.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col align-self-center text-center">
                                    Abreise
                                </div>
                                <div class="col text-center">
                                    <input formControlName='departureDate' type="date" class="form-control form-control-user" id="departureDate"
                                    aria-describedby="dateHelp" placeholder="Abreise-Datum wählen">
                                    <div *ngIf="departureDate.invalid">
                                        <div class="alert alert-danger small" *ngIf="departureDate.errors.required">
                                            Bitte wählen Sie einen Abreise-Tag aus.
                                        </div>
                                        <div class="alert alert-danger small" *ngIf="departureDate.errors.depAfterArr">
                                            Bitte wählen Sie einen Abreise-Tag aus, der nach dem Anreise-Tag liegt.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-6">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center">
                                    <h5>Zimmerkategorie</h5> 
                                </div>
                                <div class="col text-center">
                                    <h5>Anzahl</h5> 
                                </div>
                                <div class="col">
                                    
                                </div>
                            </div>
                            <div *ngFor="let room of rooms; first as isFirst; last as isLast; index as i" class="row" >
                                <div class="col text-center">
                                    <div class="w-100 text-center" ngbDropdown #RoomDrop="ngbDropdown">
                                        <button class="btn btn-secondary dropdown-toggle w-100" id="ddmRoomType" ngbDropdownAnchor (focus)="RoomDrop.open()">{{room.room_type.name}} <span *ngIf="room.overcrowding">mit Zusatzbett</span> </button>
                                        <div ngbDropdownMenu aria-labelledby="ddmRoomType">
                                            <h6 class="dropdown-header">Zimmerkategorien</h6>
                                            <div *ngFor="let type of availableRoomTypes">
                                                <button ngbDropdownItem *ngIf="isAvailable(type)" (click)="changeRoomTypeAtIndex(type, i)"> {{type.room_type.name}} <span *ngIf="type.overcrowding">mit Zusatzbett</span> </button>
                                                <button ngbDropdownItem disabled *ngIf="!isAvailable(type)" > {{type.room_type.name}} <span *ngIf="type.overcrowding">mit Zusatzbett</span> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col text-center">
                                    <div class="d-inline-block w-100" ngbDropdown #CountDrop="ngbDropdown">
                                        <button class="btn btn-secondary dropdown-toggle w-100" id="ddmRoomTypeCount" ngbDropdownAnchor (click)="CountDrop.open()">{{room.count}}</button>
                                        <div ngbDropdownMenu aria-labelledby="ddmRoomTypeCount">
                                            <h6 class="dropdown-header">Anzahl der {{room.room_type.name}}-Zimmer</h6>
                                            <button ngbDropdownItem (click)="changeCountAtIndex(1, i)"> 1 </button>
                                            <button ngbDropdownItem (click)="changeCountAtIndex(2, i)"> 2 </button>
                                            <button ngbDropdownItem (click)="changeCountAtIndex(3, i)"> 3 </button>
                                            <button ngbDropdownItem disabled *ngIf="!isLoggedIn"> >3? Bitte kontaktieren Sie uns! </button>
                                            <input ngbDropdownItem *ngIf="isLoggedIn" type="number" value=4 class="form-control" (click)="changeCountAtIndex($event.target.value, i)" (input)="changeCountAtIndex($event.target.value, i)">
                                        </div>
                                    </div>
                                </div>
                                <div class="col text-left">
                                    <button class="btn" [disabled]="isFirst && isLast" (click)="removeRoomTypeAtIndex(i)">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 text-center">
                                    <button class="btn" [disabled]="roomTypesPickable.length === 0" (click)="addRoomType()">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                        </svg>
                                    </button>
                                </div>
                                <div class="col-4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
            <h3 class="h3-top-margin">Kundendaten</h3>
            <div class="container">
                <div class="row align-items-start">
                    <div class="col-4">
                        <div class="container h-100">
                            <div class="row">
                                <div class="col-3 align-self-center text-right">
                                    Vorname
                                </div>
                                <div class="col-1"></div>
                                <div class="col-8 text-center">
                                    <input formControlName='firstName' type="text" class="form-control form-control-user" id="firstName"
                                    aria-describedby="textHelp" placeholder="Max" (keyup)="onKeyupEventChangeName($event)" (change)="onKeyupEventChangeName($event)">
                                    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                                        <div class="alert alert-danger small" *ngIf="firstName.errors.required">
                                            Bitte geben Sie Ihren Vornamen an.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 align-self-center text-right">
                                    Nachname
                                </div>
                                <div class="col-1"></div>
                                <div class="col-8 text-center">
                                    <input formControlName='lastName' type="text" class="form-control form-control-user" id="lastName"
                                    aria-describedby="textHelp" placeholder="Mustermann" (keyup)="onKeyupEventChangeName($event)" (change)="onKeyupEventChangeName($event)">
                                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                                        <div class="alert alert-danger small" *ngIf="lastName.errors.required">
                                            Bitte geben Sie Ihren Nachnamen an.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 align-self-center text-right">
                                    Telefonnummer
                                </div>
                                <div class="col-1"></div>
                                <div class="col-8 text-center">
                                    <input formControlName='telefonnumber' type="tel" class="form-control form-control-user" id="telefonnumber"
                                    aria-describedby="textHelp" placeholder="0123456789">
                                    <div *ngIf="telefonnumber.invalid && (telefonnumber.dirty || telefonnumber.touched)">
                                        <div class="alert alert-danger small" *ngIf="telefonnumber.errors.required">
                                            Bitte geben Sie Ihre Telefonnummer an.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 align-self-center text-right">
                                    E-Mail-Adresse
                                </div>
                                <div class="col-1"></div>
                                <div class="col-8 text-center">
                                    <input formControlName='email' type="email" class="form-control form-control-user" id="email"
                                    aria-describedby="textHelp" placeholder="max@mustermann.at">
                                    <div *ngIf="email.invalid && (email.dirty || email.touched)">
                                        <div class="alert alert-danger small" *ngIf="email.errors.required">
                                            Bitte geben Sie Ihre E-Mail-Adresse an.
                                        </div>
                                        <div class="alert alert-danger small" *ngIf="email.errors.email">
                                            Bitte geben Sie eine gültige E-Mail-Adresse an.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="container">
                            <div class="row">
                                <div class="col-3 align-self-center text-right">
                                    Adresse
                                </div>
                                <div class="col-1"></div>
                                <div class="col-8 text-center">
                                    <input formControlName='address' type="text" class="form-control form-control-user" id="address"
                                    aria-describedby="textHelp" placeholder="Musterstraße 5">
                                    <div *ngIf="address.invalid && (address.dirty || address.touched)">
                                        <div class="alert alert-danger small" *ngIf="address.errors.required">
                                            Bitte geben Sie Ihre Adresse an.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 align-self-center text-right">
                                    PLZ
                                </div>
                                <div class="col-1"></div>
                                <div class="col-8 text-center">
                                    <input formControlName='plz' type="text" class="form-control form-control-user" id="plz"
                                    aria-describedby="textHelp" placeholder="1010">
                                    <div *ngIf="plz.invalid && (plz.dirty || plz.touched)">
                                        <div class="alert alert-danger small" *ngIf="plz.errors.required">
                                            Bitte geben Sie Ihre Postleitzahl an.
                                        </div>
                                        <div class="alert alert-danger small" *ngIf="plz.errors.minlength || plz.errors.maxlength || plz.errors.onlyNumbers">
                                            Bitte geben Sie eine gültige Postleitzahl an.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 align-self-center text-right">
                                    Ort
                                </div>
                                <div class="col-1"></div>
                                <div class="col-8 text-center">
                                    <input formControlName='city' type="text" class="form-control form-control-user" id="city"
                                    aria-describedby="textHelp" placeholder="Wien">
                                    <div *ngIf="city.invalid && (city.dirty || city.touched)">
                                        <div class="alert alert-danger small" *ngIf="city.errors.required">
                                            Bitte geben Sie Ihren Wohnort an.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
            <h3 class="h3-top-margin">Kreditkartendaten</h3>
            <div class="container">
                <div class="row align-items-start">
                    <div class="col-5">
                        <div class="container h-100">
                            <div class="row">
                                <div class="col-3 align-self-center text-right">
                                    Karteninhaber
                                </div>
                                <div class="col-1"></div>
                                <div class="col-8 text-center">
                                    <input formControlName='creditCardHolder' type="text" class="form-control form-control-user" id="creditCardHolder"
                                    aria-describedby="textHelp" placeholder="Max Mustermann">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 align-self-center text-right">
                                    Kartennummer
                                </div>
                                <div class="col-1"></div>
                                <div class="col-8 text-center">
                                    <input formControlName='creditCardNumber' type="text" class="form-control form-control-user" id="creditCardNumber"
                                    aria-describedby="textHelp" placeholder="XXXX XXXX XXXX XXXX" (keyup)="onKeyupEventChangeCreditCardNumber($event)">
                                    <div *ngIf="creditCardNumber.invalid && (creditCardNumber.dirty || creditCardNumber.touched)">
                                        <div class="alert alert-danger small" *ngIf="creditCardNumber.errors.required">
                                            Bitte geben Sie Ihren Kreditkartennummer an.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 align-self-center text-right">
                                    Gültig bis
                                </div>
                                <div class="col-1"></div>
                                <div class="col-3">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4 text-center">
                                                <input formControlName='creditCardValidUntilMonth' type="text" class="form-control form-control-user" id="creditCardValidUntilMonth"
                                                aria-describedby="textHelp" placeholder="MM" style="padding-left: 10px;padding-right: 0px;">
                                            </div>
                                            <div class="col-4 align-self-center text-center" style="left: 3px;">
                                                /
                                            </div>
                                            <div class="col-4 text-center">
                                                <input formControlName='creditCardValidUntilYear' type="text" class="form-control form-control-user" id="creditCardValidUntilYear"
                                                aria-describedby="textHelp" placeholder="JJ" style="padding-left: 10px;padding-right: 0px;">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div *ngIf="creditCardValidUntilMonth.invalid && (creditCardValidUntilMonth.dirty || creditCardValidUntilMonth.touched)">
                                                <div class="alert alert-danger small" *ngIf="creditCardValidUntilMonth.errors.required || creditCardValidUntilMonth.errors.minlength || creditCardValidUntilMonth.errors.maxlength || creditCardValidUntilMonth.errors.max || creditCardValidUntilMonth.errors.onlyNumbers">
                                                    Bitte geben Sie die Gültigkeitsdauer Ihrer Kreditkarte im Format MM/JJ an.
                                                </div>
                                            </div>
                                            <div *ngIf="!(creditCardValidUntilMonth.invalid && (creditCardValidUntilMonth.dirty || creditCardValidUntilMonth.touched)) && creditCardValidUntilYear.invalid && (creditCardValidUntilYear.dirty || creditCardValidUntilYear.touched)">
                                                <div class="alert alert-danger small" *ngIf="creditCardValidUntilYear.errors.required || creditCardValidUntilYear.errors.minlength || creditCardValidUntilYear.errors.maxlength || creditCardValidUntilYear.errors.min || creditCardValidUntilYear.errors.onlyNumbers">
                                                    Bitte geben Sie die Gültigkeitsdauer Ihrer Kreditkarte im Format MM/JJ an.
                                                </div>
                                            </div>
                                            
                                        </div> 
                                    </div>
                                </div> 
                                <div class="col-5">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-9 align-self-center text-right" style="padding-right: 5px; left: 3px">
                                                Verifikationsnummer
                                            </div>
                                            <div class="col-3 align-self-center text-center">
                                                <input formControlName='creditCardVerificationNumber' type="text" class="form-control form-control-user" id="creditCardVerificationNumber"
                                                aria-describedby="textHelp" placeholder="XXX">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-1"></div>
                                            <div class="col-11">
                                                <div *ngIf="creditCardVerificationNumber.invalid && (creditCardVerificationNumber.dirty || creditCardVerificationNumber.touched)">
                                                    <div class="alert alert-danger small" *ngIf="creditCardVerificationNumber.errors.required || creditCardVerificationNumber.errors.minlength || creditCardVerificationNumber.errors.maxlength || creditCardVerificationNumber.errors.onlyNumbers">
                                                        Bitte geben Sie die Verifikationsnummer Ihrer Kreditkarte an.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--
                                <div class="col-2"></div>
                                <div class="col-2 align-self-center text-center">
                                    Monat
                                </div>
                                <div class="col-1 text-center">
                                    <input formControlName='creditCardValidUntilMonth' type="text" class="form-control form-control-user" id="creditCardValidUntilMonth"
                                    aria-describedby="textHelp" placeholder="MM">
                                </div>
                                <div class="col-1 align-self-center text-center">
                                    /
                                </div>
                                <div class="col-1 text-center">
                                    <input formControlName='creditCardValidUntilYear' type="text" class="form-control form-control-user" id="creditCardValidUntilYear"
                                    aria-describedby="textHelp" placeholder="YY">
                                </div>
                                <div class="col-2 align-self-center text-center">
                                    Jahr
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 align-self-center text-right">
                                    Verifikationsnummer
                                </div>
                                <div class="col-1"></div>
                                <div class="col-1 text-center">
                                    <input formControlName='creditCardVerificationNumber' type="text" class="form-control form-control-user" id="creditCardVerificationNumber"
                                    aria-describedby="textHelp" placeholder="XXX">
                                </div>
                                <div class="col-7"></div>
                                -->
                            </div>
                        </div>
                    </div>
                    <div class="col-7"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="container">
                            <div class="row" *ngIf="isLoggedIn">
                                <div class="col-3 align-self-center text-right" > 
                                    Rabatt
                                </div>
                                <div class="col-1"></div>
                                <div class="col-7 text-center">
                                    <input formControlName='discount' type="number" class="form-control form-control-user" id="discount"
                                    aria-describedby="numberHelp" placeholder="0">
                                    <div *ngIf="discount.invalid && (discount.dirty || discount.touched)">
                                        <div class="alert alert-danger small" *ngIf="discount.errors.required">
                                            Bitte geben Sie einen Rabatt an.
                                        </div>
                                        <div class="alert alert-danger small" *ngIf="discount.errors.min || discount.errors.max">
                                            Bitte geben Sie einen Rabatt zwischen 0 und 100 an.
                                        </div>
                                    </div>
                                    <span></span>
                                </div>
                                <div class="col-1 align-self-center text-center"> 
                                    %
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 text-right">
                        <button type="submit" id='availabilityCheck' class="btn btn-primary text-center" (click)="onValidate()">
                            <span class="bot-margin"> Weiter </span>  
                            <div *ngIf="(uiState$ | async) === UI_STATE.LOADING" class="spinner-border" role="status">
                            </div>
                        </button>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
        </div>
    </form>
</div>
