<div class="p-5">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
           <h1 class="h2">Rechnung stornieren</h1>
        </div>
        
        <div class="input-group">
            <form #logForm='ngForm' (ngSubmit)="onSubmit(logForm)">
                <input name='receitnumber' id="receitnumber" type="text" class="form-control" placeholder="Rechnungsnummer" aria-label="Rechnungsnummer" required ngModel>
                <button type="submit" id="cancelReceitBtn" class="ml-2 btn btn-sm btn-primary">
                    stornieren
                </button>
            </form>
        </div>
        
    </div>
    
