<div class="p-5">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Zimmerverwaltung</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="input-group">
                <input id="search" type="text" class="form-control" placeholder="Suche" aria-label="Search"
                    [formControl]="searchFormControl">
                <button (click)="onCreate()" id="createReservationBtn" class="ml-2 btn btn-sm btn-primary">
                    Neues Zimmer anlegen
                </button>
            </div>
        </div>
    </div>

    <div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col" sortable="id" (sort)="onSort($event)">ID</th>
                    <th scope="col" sortable="name" (sort)="onSort($event)">Raumnummer</th>
                    <th scope="col" sortable="roomType" (sort)="onSort($event)">Zimmerkategorie</th>
                    <th scope="col" sortable="occupancy" (sort)="onSort($event)">Max. Belegung</th>
                    <th scope="col" sortable="overcrowding" (sort)="onSort($event)">Überbelag möglich</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let room of rooms">
                    <td>
                        <ngb-highlight [result]="room.id" [term]="searchFormControl.value"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="room.name" [term]="searchFormControl.value"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="room.roomType | roomType" [term]="searchFormControl.value"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="room.occupancy" [term]="searchFormControl.value">
                        </ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="room.overcrowding | boolean" [term]="searchFormControl.value">
                        </ngb-highlight>
                    </td>
                    <td>
                        <div class="d-flex flex-row-reverse bg-transparent justify">
                            <button class="btn btn-sm ml-2 btn-outline-dark" (click)="onEdit(room)">Bearbeiten</button>
                            <button class="btn btn-sm mr-2 btn-danger" (click)="onDelete(room)">Löschen</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>