<div class="modal-header">
    <h4 class="modal-title">Reservierung löschen</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Möchten Sie die Reservierung wirklich löschen?</p>
    <span class="font-weight-bold">Achtung: Die Reservierung geht unwiderruflich verloren.</span>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onDelete()">Löschen</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Abbrechen</button>
</div>