<div class="p-5">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
       <h1 class="h2">Rechnungen</h1>
       <div class="btn-toolbar mb-2 mb-md-0">
        <!--<a class="btn btn-link" (click)="onToggleExpandedSearch()">Erweiterte Suche</a>-->
        <div class="input-group">
            <input id="searchField" type="text" class="form-control" placeholder="Suche" aria-label="Search"
                [formControl]="searchTerm">
        </div>
    </div>
    <div *ngIf="expandedSearch">
        <div class="form-group row">
            <div class="form-check my-2">
                <input [formControl]="dateBeginEnabled" class="form-check-input" type="checkbox"
                    (change)="onDateFilterChanged()">
            </div>
            <label for="example-date-input" class="col-2 col-form-label">Anfangsdatum</label>
            <div class="col-3">
                <input [formControl]="dateFilterBegin" [class.is-invalid]="dateSearchInvalid" class="form-control" type="date"
                    (change)="onDateFilterChanged()">
            </div>
        </div>
        <div class="form-group row">
            <div class="form-check my-2">
                <input [formControl]="dateEndEnabled" class="form-check-input" type="checkbox"
                    (change)="onDateFilterChanged()">
            </div>
            <label for="example-date-input" class="col-2 col-form-label">Enddatum</label>
            <div class="col-3">
                <input [formControl]="dateFilterEnd" [class.is-invalid]="dateSearchInvalid" class="form-control" type="date" (change)="onDateFilterChanged()">
                <div *ngIf="dateSearchInvalid" class="invalid-feedback">
                    Das Anfangsdatum muss vor dem Enddatum liegen.
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="(uiState$ | async) === UI_STATE.ERROR_BAD_SERVER" class="alert alert-danger" role="alert">
        Ein Fehler ist aufgetreten! Daten vom Server konnten nicht geladen werden. <a (click)="onRetry()"
            class="alert-link">Erneut versuchen</a>
    </div>
</div>
<div>
    <div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col" sortable="receitnumber" (sort)="onSort($event)">Nummer</th>
                    <th scope="col" sortable="customer" (sort)="onSort($event)">Kunde</th>
                    <th scope="col" sortable="rooms" (sort)="onSort($event)">Zimmer</th>
                    <th scope="col" sortable="discount" (sort)="onSort($event)">Rabatt</th>
                    <th scope="col" sortable="price" (sort)="onSort($event)">Preis</th>
                    <th scope="col" sortable="duration" (sort)="onSort($event)">Dauer</th>
                    <th scope="col" sortable="createdOn" (sort)="onSort($event)">erstellt am</th>
                    <th scope="col" sortable="cancelledOn" (sort)="onSort($event)">storniert am</th>
                    <th scope="col" sortable="cancelledFrom" (sort)="onSort($event)">storniert von</th>
                    <th scope="col" sortable="buttons"></th>
                
                    <!--<th scope="col"></th>-->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let receit of receits$">
                    <td>
                        <ngb-highlight [result]="receit.invoiceNumber | invoiceNumber" [term]="searchTerm.value"></ngb-highlight>
                    </td>
                    
                    <td>
                       <ngb-highlight [result]="receit.reservation.customer !== null? receit.reservation.customer : receit.reservation.firstName + ' ' + receit.reservation.lastName"  [term]="searchTerm.value"></ngb-highlight>
                    </td>
                    <!--
                    <td>
                        <p *ngFor="let room of receit.reservation.rooms">
                            <ngb-highlight [result]="room.count + 'x ' + room.room_type.name"  [term]="searchTerm.value"></ngb-highlight>
                   
                        </p>
                    </td>-->
                    <td>
                        <ngb-highlight [result]="receit.reservation.rooms | roomReservation" [term]="searchTerm.value">
                        </ngb-highlight>
                    </td>
                    
                    <td>
                        <ngb-highlight [result]="receit.reservation.discount" [term]="searchTerm.value"></ngb-highlight>%
                    </td>
                    
                    <td>
                        <ngb-highlight [result]="receit.reservation.price" [term]="searchTerm.value"></ngb-highlight>€
                    </td>
                    
                    <td>
                        <ngb-highlight [result]="receit.reservation.num_stays_days | stayDuration" [term]="searchTerm.value"></ngb-highlight>
                    </td>
                    
                    <td>
                        <ngb-highlight [result]="receit.invoiceDate | date:'shortDate'" [term]="searchTerm.value"></ngb-highlight>
                    </td>
                    <td *ngIf="receit.invoiceCancellationDate!==null">
                        <ngb-highlight [result]="receit.invoiceCancellationDate | date:'shortDate'" [term]="searchTerm.value"></ngb-highlight>
                    </td>
                    <td *ngIf="receit.invoiceCancellationDate===null">
                        <button class="btn btn-sm mr-2 btn-danger" 
                        (click)="onCancelReceit(receit)">Stornieren</button>
                    </td>
                    <td>
                        <ngb-highlight [result]="receit.cancelledFrom" [term]="searchTerm.value"></ngb-highlight>
                   </td>
                    <td>
                        <span class="d-inline-flex">
                            <button class="btn btn-sm mr-2 btn-outline-dark"
                                (click)="onDownloadReceit(receit)">
                                <fa-icon class="menuicon" [icon]="faDownload"></fa-icon></button>
                            
                                
                            <a href="mailto:{{receit.reservation.email}}?subject=Hotel zum goldenen Löwen - Rechnung&body=
                            Sehr geehrte/r Herr/Frau {{receit.reservation.lastName}}!%0A%0A
                            Im Anhang schicken wir Ihnen ihre Rechnung bzgl. ihres Aufenthalts im Hotel zum goldenen Löwen. 
                            Wir hoffen Sie hatten eine schöne Zeit, und freuen uns darauf Sie bald wieder bei uns begrüßen zu dürfen!%0A%0A
                            Mit freundlichen Grüßen,%0A
                            ihr Löwenteam."
                                >
                                <button class="btn btn-sm mr-2 btn-outline-dark">
                                    <fa-icon class="menuicon" [icon]="faMail"></fa-icon>
                                </button>                
                            </a>
                                
                        </span>
                        
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="mt-5" *ngIf="(uiState$ | async) !== UI_STATE.LOADING && ((receits$)?.length) === 0"
            class="d-flex justify-content-center">
            <h4>Keine Rechnungen gespeichert</h4>
        </div>
        <div class="mt-5" *ngIf="(uiState$ | async) === UI_STATE.LOADING" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    <div>   
</div>
