/* https://stackoverflow.com/questions/9686538/align-labels-in-form-next-to-input */

.grid-container {
    display: grid;
    grid-template-columns: max-content;
    grid-row-gap: 15px;
}

div.form-element, div.dropdown-element{
    display: grid;

    /*the third column is a dummy column that only contains the save button at the end for
      easier formatting */
    grid-template-columns: 15em  10em 8em;
    grid-gap: 50px;
}

div.form-element label, div.dropdown-element label { 
    text-align: right;
}

input[type|=text] {
    text-align: center;
}

input[type|=checkbox] {
     transform:scale(0.5)
 }
