<div class="p-5">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1>Zimmerdaten</h1>
    </div>

    <form [formGroup]="roomForm">
        <div *ngIf="(uiState$ | async) === UI_STATE.ERROR_BAD_SERVER" class="alert alert-danger" role="alert">
            Ein Fehler ist aufgetreten! Daten vom Server konnten nicht geladen werden.
        </div>
        <div *ngIf="(uiState$ | async) === UI_STATE.ROOM_NOT_VALID" class="alert alert-danger" role="alert">
            Zimmer anlegen mit den angegebenen Daten nicht möglich!
        </div>
        <div *ngIf="(invalidName)" class="alert alert-danger">
                Bitte geben Sie eine Raumnummer/Bezeichnung ein.
        </div>

        <!--<div class="input-group">-->
        <div class="grid-container">
            <div class="form-element">
                <label for="roomnumber">Zimmernummer</label>
                <input formControlName='roomnumber' type="text" class="form-control form-control-user" id="roomnumber"
                    aria-describedby="textHelp" required>
                <div class="empty"></div>
            </div>

            <div ngbDropdown class="dropdown-element">
                <label>ZimmerKategorie</label>
                <button class="btn btn-outline-primary" id="roomCategorySelection"
                    ngbDropdownToggle>{{selectedRoomType.name}}</button>
                <div ngbDropdownMenu>
                    <div *ngFor="let roomType of roomTypes">
                        <button ngbDropdownItem (focus)="changeRoomType(roomType)"> {{roomType.name}} </button>
                    </div>
                </div>
                <div class="empty"></div>
            </div>

            <div class="form-element">
                <label for="roomOccupancy">Belegzahl</label>

                <input formControlName='roomOccupancy' type="number" class="form-control form-control-user"
                    id="roomOccupancy" aria-describedby="numberHelp" disabled>
            </div>

            <div class="form-element">
                <label for="roomOvercrowding">Überbelegung möglich</label>

                <input formControlName='roomOvercrowding' type="checkbox" class="form-control form-control-user checkbox"
                    id="roomOvercrowding" aria-describedby="textHelp">
                    
                    <div class="empty"></div>
            </div>
            <div class="form-element">
                <div class="empty"></div>
                <div class="empty"></div>

        
                <button type="submit" id='saveRoom' class="btn btn-primary text-center" (click)="onSaveRoom()">
                    <span class="bot-margin"> Speichern </span>
                    <div *ngIf="(uiState$ | async) === UI_STATE.LOADING" class="spinner-border" role="status">
                    </div>
                </button>
            </div>
            <div></div>
            <div></div>
            
        </div>

        <!--<div class="alt-grid">
            <div class="container">
                <div class="row align-items-start">
                    <div class="col-4">
                        <div class="container h-100">
                            <div class="row">
                                <div class="col-3 align-self-center text-right">
                                    Zimmernummer
                                </div>
                                <div class="col-1"></div>
                                <div class="col-8 text-center">
                                    <input formControlName='roomnumber' type="text" class="form-control form-control-user" id="roomnumber"
                                    aria-describedby="textHelp" placeholder="100" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 align-self-center text-right">
                                    Zimmerkategorie
                                </div>
                                <div class="col-1"></div>
                                <div class="col-8 text-center">
                                    
                                </div>

                                <div class="col-3 align-self-center text-right">
                                    Belegzahl
                                </div>
                                <div class="col-1"></div>
                                <div class="col-8 text-center">
                                    <input formControlName='roomOccupancy' type="text" class="form-control form-control-user" id="roomOccupancy"
                                    aria-describedby="textHelp" placeholder="1" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 align-self-center text-right">
                                    <label>Überbelegung möglich</label>
                                </div>
                                
                                <div class="col-8 text-center">
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-4 text-right">
                        <button type="submit" id='saveRoom' class="btn btn-primary text-center" (click)="onSaveRoom()">
                            <span class="bot-margin"> Speichern </span>  
                            <div *ngIf="(uiState$ | async) === UI_STATE.LOADING" class="spinner-border" role="status">
                            </div>
                        </button>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
        </div>-->

    </form>
</div>