/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Global Style */
html,div,nav {
    background-color: #efefef;
}
.navbar {
    top:6em;
}