<div class="card">
  <h2 class="card-header">Anmelden</h2>
  <div class="card-body">
    <form #logForm='ngForm' (ngSubmit)="onSubmit(logForm,'login')">
      <div class="form-group">
        <label for="inputEmail">E-Mail</label>
        <input name='email' type="email" class="form-control form-control-user" id="loginEmail"
          aria-describedby="emailHelp" placeholder="E-Mail Adresse eingeben" required ngModel>
      </div>

      <div class="form-group">
        <label for="inputPassword">Passwort</label>
        <input name='password' type="password" class="form-control form-control-user" id="loginPassword"
          placeholder="Passwort" required ngModel>
      </div>

      <button type="submit" id='login' [disabled]="logForm.invalid" class="btn btn-login">Anmelden</button>
    </form>
  </div>
</div>