.card {
    min-width: 30em;
    max-width: 40em;
    width: 90%;
    display: inline-block;
    justify-content: center;
    align-content: center;
}

.card h2 {
    font-size: 1.5em;
}

.btn {
    background-color: maroon;
    color: goldenrod;
    border-color: #600000;
}

.btn:active, .btn:focus, .btn:hover {
    background-color: maroon;
    border-color: #600000;
    box-shadow: #600000;
}

.btn:disabled {
    background-color: #600000;
}
