<div class="modal-header">
    <h4 class="modal-title">Rechnung stornieren</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Möchten Sie die Rechnung wirklich stornieren?</p>
    <span class="font-weight-bold">Achtung: Dieser Vorgang kann nicht rückgängig gemacht werden.</span>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onCancel()">Stornieren</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Abbrechen</button>
</div>