<div class="modal-header">
    <h3 class="modal-title">Reservierung bestätigen</h3>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <h4 class="h3-top-margin">Reservierungsdaten</h4>
    <div class="container">
        <div class="row">
            <div class="col-5 align-self-center text-right">
                Anreise
            </div>
            <div class="col-2"> </div>
            <div class="col-5 text-left">
                {{arrivalDate}}
            </div>
        </div>
        <div class="row">
            <div class="col-5 align-self-center text-right">
                Abreise
            </div>
            <div class="col-2"> </div>
            <div class="col-5 text-left">
                {{departureDate}}
            </div>
        </div>
        <div class="row">
            <div class="col-5 align-self-center text-right">
                Anzahl der Nächte
            </div>
            <div class="col-2"> </div>
            <div class="col-5 text-left">
                {{reservation.num_stays_days}}
            </div>
        </div>
        <div class="row">
            <div class="col-5 align-self-center text-right">
                Preis
            </div>
            <div class="col-2"> </div>
            <div class="col-5 text-left">
                {{reservation.price}}
            </div>
        </div>
        <div class="row">
            <div class="col-5 align-self-center text-right">
                Rabatt
            </div>
            <div class="col-2"> </div>
            <div class="col-5 text-left">
                {{reservation.discount}}
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-center">
                <h5> Zimmerkategorie </h5>
            </div>
            <div class="col-6 text-center">
                <h5> Anzahl </h5>
            </div>
        </div>
        <div *ngFor="let room of reservation.rooms; first as isFirst; last as isLast; index as i" class="row" >
            <div class="col-5 text-right">
                {{room.room_type.name}}
            </div>
            <div class="col-2"> </div>
            <div class="col-5 text-left">
                {{room.count}}
            </div>
        </div>
    </div>
    <h4 class="h3-top-margin">Kundendaten</h4>
    <div class="container">
        <div class="row">
            <div class="col-5 align-self-center text-right">
                Vorname
            </div>
            <div class="col-2"> </div>
            <div class="col-5 text-left">
                {{reservation.firstName}}
            </div>
        </div>
        <div class="row">
            <div class="col-5 align-self-center text-right">
                Nachname
            </div>
            <div class="col-2"> </div>
            <div class="col-5 text-left">
                {{reservation.lastName}}
            </div>
        </div>
        <div class="row">
            <div class="col-5 align-self-center text-right">
                Telefonnummer
            </div>
            <div class="col-2"> </div>
            <div class="col-5 text-left">
                {{reservation.tel}}
            </div>
        </div>
        <div class="row">
            <div class="col-5 align-self-center text-right">
                E-Mail-Adresse
            </div>
            <div class="col-2"> </div>
            <div class="col-5 text-left">
                {{reservation.email}}
            </div>
        </div>
        <div class="row">
            <div class="col-5 align-self-center text-right">
                Adresse
            </div>
            <div class="col-2"> </div>
            <div class="col-5 text-left">
                {{reservation.address}}
            </div>
        </div>
        <div class="row">
            <div class="col-5 align-self-center text-right">
                PLZ
            </div>
            <div class="col-2"> </div>
            <div class="col-5 text-left">
                {{reservation.postcode}}
            </div>
        </div>
        <div class="row">
            <div class="col-5 align-self-center text-right">
                Ort
            </div>
            <div class="col-2"> </div>
            <div class="col-5 text-left">
                {{reservation.city}}
            </div>
        </div>
    </div>
    <h4 class="h3-top-margin">Kreditkartendaten</h4>
    <div class="container">
        <div class="row">
            <div class="col-5 align-self-center text-right">
                Karteninhaber
            </div>
            <div class="col-2"> </div>
            <div class="col-5 text-left">
                {{reservation.paymentInformation.creditCardHolder}}
            </div>
        </div>
        <div class="row">
            <div class="col-5 align-self-center text-right">
                Kartennummer
            </div>
            <div class="col-2"> </div>
            <div class="col-5 text-left">
                {{reservation.paymentInformation.creditCardNumber}}
            </div>
        </div>
        <div class="row">
            <div class="col-5 align-self-center text-right">
                Gültig bis
            </div>
            <div class="col-2"> </div>
            <div class="col-5 text-left">
                {{reservation.paymentInformation.creditCardValidUntilMonth}} / {{reservation.paymentInformation.creditCardValidUntilYear}}
            </div>
        </div>
        <div class="row">
            <div class="col-5 align-self-center text-right">
                Verifikationsnummer
            </div>
            <div class="col-2"> </div>
            <div class="col-5 text-left">
                {{reservation.paymentInformation.creditCardVerificationNumber}}
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onReserve()">Verbindlich reservieren</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Abbrechen</button>
</div>