<div class="modal-header">
    <h4 class="modal-title">{{headline}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p> {{errormessage}} </p>
    <div *ngIf="reservation != undefined" class="text-center">
        <div *ngFor="let room of reservation.rooms"> 
            <p>{{room.room_type.name}} <span *ngIf="room.overcrowding">mit Zusatzbett</span> : {{room.count}} </p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="activeModal.close('Ok click')">OK</button>
</div>