<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title th:remove="all">Hotel Rechnung</title>

    <style>
        @page {
            size: A4;
            margin: 20px;
        }

        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }

        a {
            color: #5D6975;
            text-decoration: underline;
        }

        body {
            position: relative;
            width: 19cm;
            height: 29.7cm;
            margin: 0 auto;
            color: #001028;
            background: #FFFFFF;
            font-family: Arial, sans-serif;
            font-size: 12px;
            font-family: Arial;
        }

        header {
            padding: 10px 0;
            margin-bottom: 30px;
        }

        #logo {
            text-align: center;
            margin-bottom: 10px;
        }

        #logo img {
            width: 90px;
        }

        h1 {
            border-top: 1px solid  #5D6975;
            border-bottom: 1px solid  #5D6975;
            color: #5D6975;
            font-size: 2.4em;
            line-height: 1.4em;
            font-weight: normal;
            text-align: center;
            margin: 0 0 20px 0;
        }

        #project {
            float: left;
        }

        #project span {
            color: #5D6975;
            text-align: right;
            width: 52px;
            margin-right: 10px;
            display: inline-block;
            font-size: 0.8em;
        }

        #company {
            float: right;
            text-align: right;
        }

        #project div,
        #company div {
            white-space: nowrap;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            margin-bottom: 20px;
        }

        table tr:nth-child(2n-1) td {
            background: #F5F5F5;
        }

        table th,
        table td {
            text-align: center;
        }

        table th {
            padding: 5px 20px;
            color: #5D6975;
            border-bottom: 1px solid #C1CED9;
            white-space: nowrap;
            font-weight: normal;
            font-size: 1.3em;
            text-align: left;
        }

        table .service,
        table .typ{
            text-align: left;
        }

        table td {
            padding: 20px;
            text-align: right;
        }

        table td.service,
        table td.typ {
            vertical-align: top;
            font-size: 1.2em;
        }

        table td.unit,
        table td.qty,
        table td.total{
            font-size: 1.2em;
        }

        table td.grand {
            border-top: 1px solid #5D6975;;
        }

        #notices .notice {
            color: #5D6975;
            font-size: 1.2em;
        }

        footer {
            color: #5D6975;
            width: 100%;
            height: 30px;
            position: absolute;
            bottom: 0;
            border-top: 1px solid #C1CED9;
            padding: 8px 0;
            text-align: center;
        }
    </style>

</head>
<body>
<header class="clearfix">
<!--    <div id="logo">-->
<!--        <img th:src="@{images/logo.png}"/>-->
<!--    </div>-->
    <h1 th:text="${InvoiceHeaderText}">Rechnung</h1>
    <div id="company" class="clearfix">
        <div><p th:text="'Hotel zum goldenen Löwen'">Hotel zum goldenen Löwen</p></div>
        <div><p th:text="'Löwenstraße 4'">Löwenstraße 4</p></div>
        <div><p th:text="'+43 2275 34 42'">+43 123 123 123</p></div>
        <div><a th:mail="'mailto:'+ 'hotelgoldenerloewe@gmail.com'">hotelgoldenerloewe@gmail.com</a></div>
    </div>
    <div id="project">
        <div><p th:text="${InvoiceCustomerName}">John Doe</p></div>
        <div><p th:text="${InvoiceCustomerStreet}">Musterstraße 1</p></div>
        <div><p th:text="${InvoiceCustomerPostcode}">1120</p></div>
        <div><p th:text="${InvoiceCustomerCity}">Wien</p></div>
        <div><p th:text="${InvoiceCustomerCountry}">Österreich</p></div>
        <div><p th:text="${InvoiceCustomerEmail}">test@test.com</p></div>
    </div>


</header>
<main>
    <div>Ausstellungsdatum:<p th:text="${InvoiceDate}">1.1.2021</p></div>
    <!--<table>
        <thead>
        <tr>
            <th class="service">SERVICE</th>
            <th class="typ">TYP</th>
            <th class="price">PREIS</th>
            <th class="rebate">RABATT</th>
            <th class="qty">ANZAHL</th>
            <th class="total">GESAMT</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="service">Zimmer</td>
            <td class="typ">Einzelzimmer</td>
            <td class="price">40,00 €</td>
            <td class="rebate">0 %</td>
            <td class="qty">2</td>
            <td class="total">80,00 €</td>
        </tr>
        <tr>
            <td class="service">Zimmer</td>
            <td class="typ">Doppelzimmer</td>
            <td class="price">80,00 €</td>
            <td class="rebate">0 %</td>
            <td class="qty">2</td>
            <td class="total">160,00 €</td>
        </tr>
        <tr>
            <td class="service">Zimmer</td>
            <td class="typ">Doppelzimmer mit Zustellbett</td>
            <td class="price">100,00 €</td>
            <td class="rebate">0 %</td>
            <td class="qty">2</td>
            <td class="total">200,00 €</td>
        </tr>
        <tr>
            <td class="service">Dienstleistungen</td>
            <td class="typ">Bewirtung</td>
            <td class="price">200,00 €</td>
            <td class="rebate">0 %</td>
            <td class="qty">2</td>
            <td class="total">80,00 €</td>
        </tr>
        <tr>
            <td colspan="5">SUBTOTAL</td>
            <td th:text="${InvoiceSubtotal}" class="total">$5,200.00</td>
        </tr>
        <tr>
            <td colspan="5">TAX 25%</td>
            <td th:text="${InvoiceTax}" class="total">$1,300.00</td>
        </tr>
        <tr>
            <td colspan="5" class="grand total">GRAND TOTAL</td>
            <td th:text="${InvoiceGrantotal}" class="grand total">$6,500.00</td>
        </tr>
        </tbody>
    </table>-->

    <table>
        <thead>
        <tr >
            <th th:each="header: ${headers}" th:text="${header}" />
        </tr>
        </thead>

        <tbody>
        <tr th:each="row: ${rows}" id="tablerow">
            <td th:class="service" th:each="header: ${headers}" th:text="${row.get(header)}" />
        </tr>
        <tr>
            <td colspan="5" class="grand total">Gesamtsumme</td>
            <td th:text="${InvoiceGrandtotal}" class="grand total">$6,500.00</td>
        </tr>
        </tbody>
    </table>

</main>
</body>
</html>